body{
  margin: 0;
}
.main-wrap-dasbord{
  height: 100%;
  position: absolute;
}
.header{
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(53, 58, 64);
  height: 40px;
  width: 100%;
  margin-bottom: 40px;
  display: flex;
  z-index: 10000;
  justify-content: space-between;
}
.logo{
  padding-top: 9px;
  margin-left: 4px;
  font-size: 18px;
  color: #e8e8e8;
  cursor: pointer;
}
.main-content-wrap{
  display: flex;
  margin-top: 40px;
  height: calc(100% - 30px);
}
.sidebar{
  width: 300px;
  background: rgba(248, 248, 248, 1);
}
.sidebar > div > button{
  background: none;
  border: none;
  outline: none;
  width: 100%;
  text-align: left;
  color:  rgb(45, 111, 251);
  padding: 5px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}
.sidebar > div > button:hover{
  background: rgb(228, 236, 255);
  color:  rgb(68, 124, 247);
}
.active-btn-sidebar{
  background: rgb(45, 111, 251) !important;
  color: white !important;
}
.out-button{
  padding-top: 10px;
  padding-right: 8px;
}
.out-button > button{
  background: none;
  border: none;
  outline: none;
  color: #8a8a8a;
  cursor: pointer;

}
.main-content{
  width: 100%;
  padding: 10px;
}
